body {
    padding-bottom: 200px;
}

/* Header *Start* */

.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    padding: 19px 0;

    background-color: #fff;

    z-index: 5;
}

.header>.container {
    margin-left: 45px;

    display: flex;
    justify-content: space-between;
}

.header__logo .main-section__img {
    margin-left: 12px;
    width: 85px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    width: 154px;

    transition: linear 0.2s;
}

.header-btn {
    margin-right: -42.5px;

    background-image: url(../img/header-btn.svg);
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;

    width: 123.5px;
    height: 72px;

    cursor: pointer;
}


/* Header *Stop* */

/* Main section *Start* */

.main-section {
    min-height: calc(100vh);

    display: flex;
    align-items: center;
}

.main-section>.container {
    margin: 0 81.59px 0 140.75px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-section__h1 {
    max-width: 840px;

    clip-path: inset(0 0 0 0);
    background: linear-gradient(to right, #00243d 0%, #00fff2 23%, #00243d 51%, #00fff2 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
    backface-visibility: hidden;
    transform: rotateX(1deg) translate3d(0, 0, 0);
    background-size: 300% auto;
    animation: textShine 5s ease-in-out infinite alternate;

    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 92px;
    font-weight: 800;
    line-height: .99;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.main-section__img {
    width: 630px;
    
    z-index: 12;
}

.main-section__diamond  {
    position: relative;

    height: 546px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section__diamond  > img {
    display: none;
    height: 100%;
}

.main-section .pros-list__item {
    display: none;

    margin: 0 calc(390px - 81.59px) 0 calc(390px - 140.75px);
    width: 100%;
    flex-direction: row-reverse!important;
}
.main-section .pros-list__item-number {
    text-align: left;
}
.main-section .pros-list__item-title {
    text-align: left;
}
.main-section .pros-list__item-text {
    text-align: left;
}
.main-section .pros-list__item-btn {
    margin-right: auto;
    margin-left: 0;
}
.main-section .line-vertical.right {
    left: calc(-50% - 163px);
}
/* Main section *Stop* */

/* Pros section *Start* */

.pros-section {
    margin-top: -70px;
}

.pros-section>.container {
    margin: 0 390px;
}

.pros-list {
    display: flex;
    flex-direction: column;
}

.pros-list__item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.pros-list__item:nth-child(2n), .pros-list .pin-spacer:nth-child(2n) .pros-list__item {
    flex-direction: row-reverse;
}

.pros-list__item-icon {
    position: relative;

    height: 546px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pros-list__item-icon > img {
    height: 100%;
}

.pros-list__item-icon-img {
    transition: opacity 0.2s ease-out;
    z-index: 2;
}

.pros-list__item-wrapper {
    margin-top: 100px;
    max-width: 390px;
}

.pros-list__item-number {
    color: rgb(0, 29, 49);
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: right;
}

.pros-list__item-text {
    color: rgb(45, 68, 85);
    font-family: Inter;
    font-size: 23.44px;
    font-weight: 400;
    line-height: 31.13px;
    letter-spacing: 0%;
    text-align: right;
}

.pros-list__item-title {
    color: rgb(0, 36, 61);
    font-family: Inter;
    font-size: 22.85px;
    font-weight: 700;
    line-height: 26.01px;
    letter-spacing: 0.63px;
    text-align: right;
}

.pros-list__item-title:not(:first-child) {
    margin-top: 15px;
}

.pros-list__item-btn {
    position: relative;

    padding-right: 47px;
    margin-left: auto;

    width: fit-content;

    display: flex;
    align-items: center;

    color: rgb(0, 36, 61);
    font-family: Inter;
    font-size: 17.44px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 0.9px;
    text-align: right;
    text-transform: capitalize;
    text-decoration: none;
}

.pros-list__item-btn:not(:first-child) {
    margin-top: 18px;
}

.pros-list__item-btn::after {
    position: absolute;
    top: 50%;

    left: calc(100% - 40px);

    content: "";
    display: block;

    width: 40px;
    height: 2px;

    background: rgb(0, 36, 61);

    transition: linear .2s;
}
.pros-list__item-btn:hover::after {
    width: 17px;
}

.pros-list__item:nth-child(2n) .pros-list__item-number,  .pros-list .pin-spacer:nth-child(2n) .pros-list__item-number {
    text-align: left;
}

.pros-list__item:nth-child(2n) .pros-list__item-text, .pros-list .pin-spacer:nth-child(2n) .pros-list__item-text {
    text-align: left;
}

.pros-list__item:nth-child(2n) .pros-list__item-title, .pros-list .pin-spacer:nth-child(2n) .pros-list__item-title {
    text-align: left;
}

.pros-list__item:nth-child(2n) .pros-list__item-btn, .pros-list .pin-spacer:nth-child(2n) .pros-list__item-btn {
    margin-right: auto;
    margin-left: 0;
}

.diamond-placeholder {
    position: absolute;
    top: 24%;
    left: 10%;

    min-width: 380px;
    min-height: 380px;
    border: 2px dashed #000;
    transform: rotate(45deg);
    margin: 0 auto;

    transform: translate(-50%, -50%);
}

.line-container {
    position: relative;
    width: 100%;

    transform: translateY(-120px);
}

.line-vertical {
    position: absolute;
    top: 100%;
    left: calc(150% + 103px);
    width: 2px;
    /* Dotted line */
    background-image: linear-gradient(to top, #000 50%, transparent 50%);
    background-size: 2px 10px;
    background-repeat: repeat-y;
    height: 0;
}
.line-vertical.right {
    left: calc(-50% - 103px);
}
.line-horizontal {
    position: absolute;
    top: 100%;
    height: 2px;
    /* Dotted line */
    background-image: linear-gradient(to left, #000 50%, transparent 50%);
    background-size: 10px 2px;
    background-repeat: repeat-x;
    transform: translateY(-50%);
    width: 0;
}

.line-horizontal.right {
    right: 50%;
}

.line-horizontal.left {
    left: 50%;
}


/* Pros section *Stop* */

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* Adaptive styles *Start* */

@media (max-width: 1650px) {
    .pros-section>.container {
        margin: 0 150px;
    }
    .main-section__h1 {
        font-size: 60px;
        line-height: 60px;

    }
    .main-section__img {
        width: 430px;
    }
}


@media (max-width: 1200px) {
    .pros-list__item-icon {
        height: 450px;
    }
    .pros-list__item-number {
        font-size: 60px;
        line-height: 60px;
    }
    .pros-list__item-text {
        font-size: 20px;
        line-height: 20px;
    }
    .pros-list__item-title {
        font-size: 20px;
        line-height: 20px;
    }
}

@media (max-width: 1130px) {
    .main-section>.container {
        margin: 0 45px;
    }
    .main-section__img {
        width: 330px;
    }
    .main-section__h1 {
        font-size: 45px;
        line-height: 45px;
    }
    .pros-section>.container {
        margin: 0 45px;
    }
}

@media (max-width: 860px) {
    .main-section>.container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .pros-list__item-icon {
        height: 330px;
    }
}

@media (max-width: 600px) {
    .main-section>.container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .pros-list__item-icon {
        height: 330px;
    }
    .pros-list__item {
        align-items: flex-start;
        flex-direction: column;
    }
    .pros-list__item-wrapper {
        margin-top: 0;
        margin-left: auto;
    }
    .pros-list__item:nth-child(2n) {
        flex-direction: column;
    }
    .pros-list__item:nth-child(2n) .pros-list__item-icon {
        margin-left: auto;
    }
    .pros-list__item:nth-child(2n) .pros-list__item-wrapper {
        margin-left: 0;
        margin-right: auto;
    }
    .main-section__h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .main-section__img {
        margin: 0 auto;
    }
    .main-section__h1 {
        margin: 0 auto;
        text-align: center;
    }
    .pros-list__item-number {
        font-size: 45px;
        line-height: 45px;
    }
    .pros-list__item-text {
        font-size: 15px;
        line-height: 15px;
    }
    .pros-list__item-title {
        font-size: 15px;
        line-height: 15px;
    }
    .pros-list__item-btn {
        font-size: 14.44px;
    }
}

@media (max-width: 400px) {
    .pros-list__item-icon {
        height: auto;
        width: 100%;
    }
    .pros-list__item-icon img {
        width: 100%;
    }
    .main-section__img {
        width: 100%;
    }
}

/* Adaptive styles *Stop* */